{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Welcome!</h1>
<p align="center">{{ greeting }}, {{ current_user.first_name }}</p>
<div align="center">
    <h2>Book a Nail Appointment</h2>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/nailology_windsor" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly inline widget end -->
</div>
{% endblock %}